.blue {
    color: #0080ff;
}
.green {
    color: #00ff00;
}
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding-left: 12px;
    margin-top:8px;
    width: 100%;
    height: 28px;
    border: 1px solid #444;
    text-align: left;
    outline: none;
    font-size: 12px;
}
.active, .collapsible:hover {
    background-color: #ccc;
}
.collapsible_backup {
    background-color: #ffffcc;
    color: #444;
    cursor: pointer;
    padding-left: 12px;
    margin-top:8px;
    width: 100%;
    height: 28px;
    border: 1px solid #444;
    text-align: left;
    outline: none;
    font-size: 12px;
}
.active_backup, .collapsible_backup:hover {
    background-color: #ffff00;
}
.collapsible_bright4pass {
    background-color: #ccffcc;
    color: #444;
    cursor: pointer;
    padding-left: 12px;
    margin-top:8px;
    width: 100%;
    height: 28px;
    border: 1px solid #444;
    text-align: left;
    outline: none;
    font-size: 12px;
}
.active_bright4pass, .collapsible_bright4pass:hover {
    background-color: #00ff00;
}
.collapsible_bright {
    background-color: #ccffcc;
    color: #444;
    cursor: pointer;
    padding-left: 12px;
    margin-top:8px;
    width: 100%;
    height: 28px;
    border: 1px solid #444;
    text-align: left;
    outline: none;
    font-size: 12px;
}
.active_bright, .collapsible_bright:hover {
    background-color: #00ff00;
}
.collapsible_dark {
    background-color: #cce6ff;
    color: #444;
    cursor: pointer;
    padding-left: 12px;
    margin-top:8px;
    width: 100%;
    height: 28px;
    border: 1px solid #444;
    text-align: left;
    outline: none;
    font-size: 12px;
}
.active_dark, .collapsible_dark:hover {
    background-color: #0080ff;
}
.collapsible_dark1b {
    background-color: #cce6ff;
    color: #444;
    cursor: pointer;
    padding-left: 12px;
    margin-top:8px;
    width: 100%;
    height: 28px;
    border: 1px solid #444;
    text-align: left;
    outline: none;
    font-size: 12px;
}
.active_dark1b, .collapsible_dark1b:hover {
    background-color: #0080ff;
}
.collapsible_subbackup {
    background-color: #ffffcc;
    color: #444;
    cursor: pointer;
    padding-left: 12px;
    margin-top:8px;
    width: 45%;
    height: 28px;
    border: 1px solid #444;
    text-align: left;
    outline: none;
    font-size: 12px;
}
.active_subbackup, .collapsible_subbackup:hover {
    background-color: #ffff00;
}
.collapsible_subbright4pass {
    background-color: #ccffcc;
    color: #444;
    cursor: pointer;
    padding-left: 12px;
    margin-top:8px;
    width: 45%;
    height: 28px;
    border: 1px solid #444;
    text-align: left;
    outline: none;
    font-size: 12px;
}
.active_subbright4pass, .collapsible_subbright4pass:hover {
    background-color: #00ff00;
}
.collapsible_subbright {
    background-color: #ccffcc;
    color: #444;
    cursor: pointer;
    padding-left: 12px;
    margin-top:8px;
    width: 45%;
    height: 28px;
    border: 1px solid #444;
    text-align: left;
    outline: none;
    font-size: 12px;
}
.active_subbright, .collapsible_subbright:hover {
    background-color: #00ff00;
}
.collapsible_subdark {
    background-color: #cce6ff;
    color: #444;
    cursor: pointer;
    padding-left: 12px;
    margin-top:8px;
    width: 45%;
    height: 28px;
    border: 1px solid #444;
    text-align: left;
    outline: none;
    font-size: 12px;
}
.active_subdark, .collapsible_subdark:hover {
    background-color: #0080ff;
}
.collapsible_subdark1b {
    background-color: #cce6ff;
    color: #444;
    cursor: pointer;
    padding-left: 12px;
    margin-top:8px;
    width: 45%;
    height: 28px;
    border: 1px solid #444;
    text-align: left;
    outline: none;
    font-size: 12px;
}
.active_subdark1b, .collapsible_subdark1b:hover {
    background-color: #0080ff;
}
.collapsible_month {
    background-color: #ccffcc;
    color: #444;
    cursor: pointer;
    padding-left: 12px;
    margin-top:8px;
    width: 9%;
    height: 28px;
    border: 1px solid #444;
    text-align: left;
    outline: none;
    font-size: 12px;
}
.active_month, .collapsible_month:hover {
    background-color: #00ff00;
}
.collapsible_year {
    background-color: #cce6ff;
    color: #444;
    cursor: pointer;
    padding-left: 12px;
    margin-top:8px;
    width: 9%;
    height: 28px;
    border: 1px solid #444;
    text-align: left;
    outline: none;
    font-size: 12px;
}
.active_year, .collapsible_year:hover {
    background-color: #0080ff;
}
.content {
    padding: 0px;
    display: none;
    overflow: hidden;
    background-color: white;
}
.inline {
    display: inline-block;
}
.inset {
    margin-top:8px;
}
th, td {
    border:1px solid black;
    font-size: 1.00em;
}
tr:nth-child(even) {
    background-color: #f0f0f5;
}
p {
    line-height:25%;
    font-size:1vw
}
#bottom {
    margin-top:8px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color:#444;
}

